body{
    margin: 0px;
}
﻿#header{
  
}
#NavBar {
    text-align: center;
}
.navLink {
        margin: auto;
	display: inline;
	text-align:center;
}
h1 {
	display: inline;
        margin-left: 10px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 15px;
}
#banner{
        text-align: center;
        margin-top: -40px;
        margin-bottom: 10px;
        
}
#bannerImage{
    border-radius: 15px;
}
#content {
	height:60vh;
	position: relative;
 	margin-left: auto;
  	margin-right: auto;
}
#mainContent {
	margin: auto;
	margin-top: 25px;
	height: 100%;
	width: 55%;
	overflow-y: scroll;
	border-style: ridge;
        padding: 10px;
        border-radius: 5px;
}
img{
    margin:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height:auto;
}
video{
    margin:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height:auto;
}
