
#title{
    
    font: sans-serif;
    text-align: left;
    
    
    
}
#caption{
    
  text-align: center;
}
#buttons{
    text-align: center
}
#image{
    height: 300px;
    max-width: 80%;
}
#imageDiv{
    text-align: center
}
  
    
    
    
